
.black,
.yellow {
    font-size: 28px;
    font-style: "helvetica", "times new roman", sans-serif;
}

.black {
    color: white;
    background-color: black;
}

.yellow {
    color: black;
    background-color: yellow;
}